/* css style starts */
/* common style starts */
body {
  font-family: "Work Sans";
}
.btn-primary {
  background: #ff900e;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 25px;
  border: none;
  border-radius: 10px;
}
/* common style ends */
/* nav-bar-container starts */
.nav-bar-container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 144, 14, 0.1);
  align-items: center;
}
.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 116px;
}
.nav-bar-heading h2 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.nav-bar-navs {
  display: flex;
  align-items: center;
}
.nav-bar-navs nav ul {
  display: flex;
  gap: 20px;
  padding-left: 0;
}
.nav-bar-navs nav ul li {
  list-style: none;
}
.nav-bar-navs nav ul a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}
/* nav-bar-container ends */
/* 
----
----
----
----
---- 
*/
/*  header-banner-container starts */
.header-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-banner-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-banner-title h2 {
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}
.header-banner-title p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 32px;
}
.header-banner-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.header-banner-img img {
  height: 500px;
  width: 900px;
}
/*  header-banner-container ends  */
/* css style ends */

/* 
----
----
----
----
---- 
*/

/* css responsive style starts */
@media only screen and (max-width: 576px) {
  /* nav-bar-container starts */
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }
  .nav-bar-navs nav ul {
    flex-direction: column;
  }
  /* nav-bar-container ends */
  /* 
----
----
----
----
---- 
*/
  /*  header-banner-container starts */
  .header-banner-img img {
    width: 100%;
    height: 300px;
  }
  /*  header-banner-container ends  */
}
/* css responsive style ends  */
